.b-1 .container {
	padding-top: 90px;
	padding-bottom: 40px;
}
.b-1 .breadcumps {
	display: block;
	width: calc(100% - 60px);
	text-align: left;
	position: absolute;
	left: 30px;
	top: 20px;
}
.b-1 .breadcumps li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: rgb(128, 128, 128);
	font-family: 'FuturaPT-Light';
	font-size: 16px;
	padding-right: 18px;
}
.b-1 .breadcumps li::before {
	content: '>';
	display: block;
	position: absolute;
	top: 50%;
	right: 2px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-1 .breadcumps li:last-child {
	padding-right: 0;
}
.b-1 .breadcumps li:last-child:before {
	display: none;
}
.b-1 .breadcumps li a {
	color: rgb(128, 128, 128);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 h1 {
	display: block;
	color: #000000;
	font-size: 30px;
	line-height: 1.2;
	font-family: 'FuturaPT-Heavy';
	margin-bottom: 60px;
	text-align: left;
}
.b-1 h1 span {
	color: #ffb044;
}
.b-1-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: stretch;
	box-sizing: border-box;
	width: 100%;
}
.b-1-image {
	width: calc(50% - 15px);
	position: relative;
	background-image: -webkit-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
}
.b-1-image img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-1-info {
	width: calc(50% - 15px);
	text-align: left;
}
.b-1-info .time {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 80px;
	font-size: 21px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 50px;
}
.b-1-info .time img {
	display: block;
	max-width: 48px;
	max-height: 48px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-1-info ul {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-1-info ul li {
	position: relative;
	box-sizing: border-box;
	font-size: 21px;
	color: #000000;
	line-height: 1.7;
	font-family: 'FuturaPT-Light';
	padding-left: 25px;
	display: block;
	width: calc(50% - 5px);
}
.b-1-info ul li::before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
	position: absolute;
	left: 0;
	top: calc(50% - 4px);
}
.b-1-btn {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	max-width: 350px;
	width: 100%;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	font-size: 21px;
	text-align: center;
	margin-top: 39px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}

.b-2 .container {
	padding-top: 60px;
	padding-bottom: 40px;
}
.b-2 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 60px;
}
.b-2 h2 span {
	color: #ff7e18;
}
.b-2-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 60px;
}
.b-2-list li {
	width: calc(33% - 15px);
}
.b-2-list li a {
	display: inline-block;
	max-width: 100%;
}
.b-2-list li a img {
	display: block;
	max-width: 100%;
	max-height: 250px;
}
.b-2-text {
	display: block;
	text-align: left;
	line-height: 1.5;
	color: rgb(56, 58, 58);
	font-size: 16px;
	font-family: 'FuturaPT-Light';
}

.b-3 .container {
	padding-top: 60px;
	padding-bottom: 20px;
}
.b-3 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 60px;
}
.b-3 h2 span {
	color: #ff7e18;
}
.b-3-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 60px;
}
.b-3-list li {
	width: calc(25% - 15px);
}
.b-3-list .li-image {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #ffb044;
	border-radius: 50%;
	position: relative;
	margin: 0 auto 40px;
}
.b-3-list .li-image img {
	display: block;
	max-width: 128px;
	max-height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-list .title {
	font-size: 21px;
	font-family: 'FuturaPT-Medium';
	color: #000000;
	line-height: 1.2;
}
.b-3-list p {
	display: block;
	color: #000000;
	font-size: 16px;
	line-height: 1.2;
}

.b-4 {
	background-color: #f5f5f5;
}
.b-4 .container {
	padding-top: 80px;
	padding-bottom: 60px;
}
.b-4 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 60px;
}
.b-4 h2 span {
	color: #ff7e18;
}
.b-4 form {
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}
.b-4 form .form-title {
	display: block;
	box-sizing: border-box;
	background-color: rgb(17, 49, 58);
	padding: 20px;
	color: #ffffff;
	font-size: 24px;
}
.b-4 form .inputs {
	display: block;
	box-sizing: border-box;
	border: 1px solid rgb(227, 228, 227);
	border-top: 0;
	padding: 40px 20px 30px;
}
.b-4 form input {
	display: block;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	text-align: left;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	box-sizing: border-box;
	color: #000000;
	border: 1px solid rgb(227, 228, 227);
	border-radius: 4px;
	margin: 0 auto 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4 form input::-webkit-input-placeholder {color:#000000;}
.b-4 form input::-moz-placeholder          {color:#000000;}
.b-4 form input:-moz-placeholder           {color:#000000;}
.b-4 form input:-ms-input-placeholder      {color:#000000;}
.b-4 form input:focus::-webkit-input-placeholder {color:transparent;}
.b-4 form input:focus::-moz-placeholder          {color:transparent;}
.b-4 form input:focus:-moz-placeholder           {color:transparent;}
.b-4 form input:focus:-ms-input-placeholder      {color:transparent;}
.b-4 form input:focus {
	border-color: #ffb044;
}
.b-4 form .buttons {
	display: block;
	box-sizing: border-box;
	border: 1px solid rgb(227, 228, 227);
	border-top: 0;
	padding: 40px 20px;
	border-radius: 0 0 4px 4px;
}
.b-4 form button {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	border: 0;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4 form button:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}
.b-4 form .button-text {
	color: #000000;
}
.b-4 form .button-text .radio-btn {
	border-color: rgb(227, 228, 227);
}
.b-4 form .button-text .radio-btn.active::before, .b-4 form .button-text .radio-btn.active::after {
	background-color: #ffb044;
}
.b-4 .radio-items {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-width: 600px;
	margin: 0 auto 30px;
}
.b-4 .radio-items .radio-title {
	color: #ffffff;
	font-family: 'FuturaPT-Heavy';
	font-size: 24px;
}
.b-4 .radio-items .radio-wrap input {
	display: none;
}
.b-4 .radio-items .radio-wrap label {
	display: block;
	padding-left: 50px;
	position: relative;
	box-sizing: border-box;
	max-width: 100%;
	color: #000000;
	font-size: 24px;
}
.b-4 .radio-items .radio-wrap label:hover {
	cursor: pointer;
}
.b-4 .radio-items .radio-wrap label b {
	display: block;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid rgb(227, 228, 227);
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
}
.b-4 .radio-items .radio-wrap input:checked + label b {
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	border-color: #ff7e18;
}
.b-4 .radio-items .radio-wrap input:checked + label b::before {
	content: '';
	display: block;
	width: 9px;
	height: 2px;
	position: absolute;
	top: 14px;
	left: 5px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-4 .radio-items .radio-wrap input:checked + label b::after {
	content: '';
	display: block;
	width: 14px;
	height: 2px;
	position: absolute;
	top: 12px;
	left: 10px;
	background-color: #ffffff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.b-5 .container {
	padding-top: 80px;
	padding-bottom: 40px;
}
.b-5 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 60px;
}
.b-5 h2 span {
	color: #ff7e18;
}
.b-5 .catalog-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-5 .catalog-list li {
	width: calc(33% - 15px);
	margin-bottom: 40px;
}
.b-5 .catalog-list .li-image {
	position: relative;
	width: 100%;
	height: 250px;
	background-image: -webkit-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
	background-image: linear-gradient( 180deg, rgb(250,250,250) 0%, rgb(237,237,237) 100%);
}
.b-5 .catalog-list .li-image img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-5 .catalog-list .li-text {
	padding: 30px;
	box-sizing: border-box;
	text-align: left;
}
.b-5 .catalog-list .name {
	font-size: 21px;
	color: #000000;
	font-family: 'FuturaPT-Medium';
	line-height: 1.2;
	margin-bottom: 25px;
}
.b-5 .catalog-list .time {
	display: block;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	padding-left: 50px;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 30px;
}
.b-5 .catalog-list .time img {
	display: block;
	max-width: 30px;
	max-height: 30px;
	position: absolute;
	left: 0;
	top: calc(50% - 15px);
}
.b-5 .catalog-list .info {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-5 .catalog-list .info-item {
	position: relative;
	box-sizing: border-box;
	font-size: 16px;
	color: #000000;
	line-height: 1.5;
	font-family: 'FuturaPT-Light';
	padding-left: 15px;
	display: block;
	width: calc(50% - 5px);
}
.b-5 .catalog-list .info-item::before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
	position: absolute;
	left: 0;
	top: calc(50% - 3px);
}
.b-5 .catalog-list .li-btn {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	font-size: 21px;
	margin-bottom: 10px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 .catalog-list .li-btn:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}
.b-5 .catalog-list .more-a {
	font-size: 12px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 .catalog-list .more-a:hover {
	color: #ff7e18;
}


@media screen and (max-width: 1280px){
	.b-1-info .time {
		font-size: 20px;
	}
	.b-1-info ul li {
		font-size: 16px;
	}
	.b-5 .catalog-list li {
		width: calc(50% - 15px);
	}
}
@media screen and (max-width: 767px){
	.b-1-wrap {
		display: block;
	}
	.b-1-image {
		width: 100%;
		height: 350px;
		margin-bottom: 30px;
	}
	.b-1-info {
		width: 100%;
	}
	.b-1-btn {
		margin: 39px auto 0;
	}
	.b-2-list {
		display: block;
	}
	.b-2-list li {
		width: 100%;
		margin-bottom: 20px;
	}
	.b-3-list {
		display: block;
	}
	.b-3-list li {
		width: 100%;
		margin-bottom: 40px;
	}
	.b-4 .radio-items {
		display: block;
	}
	.b-4 .radio-items .radio-wrap label {
		font-size: 24px;
		max-width: 270px;
		width: 100%;
		margin: 0 auto 10px;
		text-align: left;
	}
	.b-5 .catalog-list {
		display: block;
	}
	.b-5 .catalog-list li {
		width: 100%;
	}
}