.b-1 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../i/b-1-fon.jpg');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 .container {
	padding-top: 90px;
	padding-bottom: 60px;
}
.b-1 .breadcumps {
	display: block;
	width: calc(100% - 60px);
	text-align: left;
	position: absolute;
	left: 30px;
	top: 20px;
}
.b-1 .breadcumps li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'FuturaPT-Light';
	font-size: 16px;
	padding-right: 18px;
}
.b-1 .breadcumps li::before {
	content: '>';
	display: block;
	position: absolute;
	top: 50%;
	right: 2px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-1 .breadcumps li:last-child {
	padding-right: 0;
}
.b-1 .breadcumps li:last-child:before {
	display: none;
}
.b-1 .breadcumps li a {
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 h1 {
	display: block;
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	font-family: 'FuturaPT-Heavy';
}
.b-1 h1 span {
	color: #ffb044;
}
.b-1 h2 {
	display: block;
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 60px;
}

.b-2 {
	background-color: #f5f5f5;
}
.b-2 .container {
	padding-top: 80px;
	padding-bottom: 35px;
}
.b-2 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
}
.b-2 h2 span {
	color: #ff7e18;
}
.b-2 h3 {
	display: block;
	color: #000000;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 60px;
}
.b-2 .reis-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-2 .reis-list li {
	box-sizing: border-box;
	width: calc(50% - 10px);
	padding-bottom: 25px;
	margin-bottom: 30px;
}
.b-2 .reis-list .li-image {
	position: relative;
	width: 100%;
	height: 300px;
	background-image: -webkit-linear-gradient( 180deg, rgb(255,255,255) 0%, #f5f5f5 100%);
	background-image: -webkit-gradient( 180deg, rgb(255,255,255) 0%, #f5f5f5 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,255,255) 0%, #f5f5f5 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,255,255) 0%, #f5f5f5 100%);
	background-image: linear-gradient( 180deg, rgb(255,255,255) 0%, #f5f5f5 100%);
}
.b-2 .reis-list .li-image a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.b-2 .reis-list .li-image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-2 .reis-list .li-text {
	position: relative;
	background-color: #ffffff;
	padding: 30px 30px 65px;
	box-sizing: border-box;
	box-shadow: 0px 5px 5px 0px rgba(216, 217, 216, 0.4);
}
.b-2 .reis-list .li-text::before {
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	position: absolute;
	top: -5px;
	left: 0;
	background-image: url('../i/border-img.png');
}
.b-2 .reis-list .li-text .route {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
}
.b-2 .reis-list .li-text .route span {
	display: block;
	font-size: 21px;
	font-family: 'FuturaPT-Medium';
	color: #000000;
	line-height: 1.2;
}
.b-2 .reis-list .li-text .route img {
	display: block;
	max-width: 100%;
	margin: 0 20px;
}
.b-2 .reis-list .li-text .info {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
}
.b-2 .reis-list .li-text .info-item {
	position: relative;
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	width: calc(50% - 15px);
	padding-left: 50px;
}
.b-2 .reis-list .li-text .info-item img {
	display: block;
	max-width: 40px;
	max-height: 30px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-2 .reis-list .li-text .price {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}
.b-2 .reis-list .li-text .price-item {
	text-align: left;
	width: calc(50% - 15px);
}
.b-2 .reis-list .li-text .price-item .title {
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 20px;
}
.b-2 .reis-list .li-text .price-item .text {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding-left: 50px;
}
.b-2 .reis-list .li-text .price-item .text img {
	display: block;
	max-width: 40px;
	max-height: 35px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-2 .reis-list .li-text .price-item .text p {
	display: block;
	line-height: 1.5;
	color: #000000;
	font-size: 16px;
}
.b-2 .reis-list .li-text .price-item .text p span {
	color: #ff7e18;
}
.b-2 .reis-list .li-text .li-btn {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	position: absolute;
	bottom: -25px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2 .reis-list .li-text .li-btn:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}

.b-3 .container {
	padding-top: 80px;
	padding-bottom: 60px;
}
.b-3 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
}
.b-3 h2 span {
	color: #ff7e18;
}
.b-3 h3 {
	display: block;
	color: #000000;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 60px;
}
.b-3-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 60px;
}
.b-3-list li {
	width: calc(33% - 15px);
}
.b-3-list .li-image {
	display: block;
	width: 160px;
	height: 160px;
	background-color: rgb(245, 245, 245);
	border-radius: 50%;
	position: relative;
	margin: 0 auto 40px;
}
.b-3-list .li-image img {
	display: block;
	max-width: 128px;
	max-height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-list .title {
	font-size: 21px;
	font-family: 'FuturaPT-Medium';
	color: #000000;
	line-height: 1.2;
}
.b-3-list p {
	display: block;
	color: #000000;
	font-size: 16px;
	line-height: 1.2;
}
.b-3-text {
	display: block;
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
	color: rgb(56, 58, 58);
	font-family: 'FuturaPT-Light';
	margin-bottom: 35px;
}
.b-3-btn {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-btn:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}

.b-4 {
	background-color: #f5f5f5;
}
.b-4 .container {
	padding-bottom: 85px;
	padding-top: 80px;
}
.b-4 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 70px;
}
.b-4-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}
.b-4-list li {
	width: calc(50% - 15px);
	margin-bottom: 35px;
}
.b-4-list li a {
	display: block;
	background-color: #ffffff;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	padding: 22px 20px;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li a:hover {
	box-shadow: 0px 5px 5px 0px rgba(216, 217, 216, 0.4);
}
.b-4-list li a span {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding-left: 30px;
	max-width: 100%;
	font-size: 21px;
	color: #ff7e18;
	font-family: 'FuturaPT-Medium';
}
.b-4-list li a span::before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
	top: calc(50% - 5px);
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
}

.form-wrap .name {
	font-size: 24px;
	color: #ffffff;
	font-family: 'FuturaPT-Heavy';
	line-height: 1.2;
	margin-bottom: 30px;
	display: none;
}
.form-wrap .name.active {
	display: block;
}
.form-wrap .name b {
	font-weight: normal;
	color: #ffb044;
}
.form-wrap form {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}
.form-wrap .step {
	display: none;
}
.form-wrap .step.active {
	display: block;
}
.form-wrap .select-wrap {
	position: relative;
	margin: 0 auto 30px;
	max-width: 350px;
	width: 100%;
}
.form-wrap .select-area {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 22px 40px 22px 20px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(227, 228, 227);
	font-size: 18px;
	color: #000000;
	font-family: 'FuturaPT-Book';
	line-height: 1.2;
	position: relative;
}
.form-wrap .select-area.active {
	border-radius: 4px 4px 0 0;
}
.form-wrap .select-area::before {
	content: '';
	display: block;
	width: 22px;
	height: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 6px);
	right: 18px;
	background-image: url('../i/sel-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.form-wrap .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.form-wrap .select-area:hover {
	cursor: pointer;
}
.form-wrap .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid rgb(227, 228, 227);
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 4px 4px;
	padding: 22px 20px;
	box-sizing: border-box;
	z-index: 10;
	font-family: 'FuturaPT-Book';
	max-height: 140px;
	overflow-y: auto;
}
.form-wrap .select-drop.active {
	display: block;
}
.form-wrap .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 18px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .select-drop a:hover {
	color: #ffb044;
}
.form-wrap .select-drop a:last-child {
	margin-bottom: 0;
}
.form-wrap select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.form-wrap input {
	display: block;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	text-align: left;
	font-family: 'FuturaPT-Book';
	font-size: 18px;
	box-sizing: border-box;
	color: #000000;
	border: 1px solid rgb(227, 228, 227);
	border-radius: 4px;
	margin: 0 auto 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap input::-webkit-input-placeholder {color:#000000;}
.form-wrap input::-moz-placeholder          {color:#000000;}
.form-wrap input:-moz-placeholder           {color:#000000;}
.form-wrap input:-ms-input-placeholder      {color:#000000;}
.form-wrap input:focus::-webkit-input-placeholder {color:transparent;}
.form-wrap input:focus::-moz-placeholder          {color:transparent;}
.form-wrap input:focus:-moz-placeholder           {color:transparent;}
.form-wrap input:focus:-ms-input-placeholder      {color:transparent;}
.form-wrap input:focus {
	border-color: #ffb044;
}
.form-wrap .form-next-btn, .form-wrap button {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	border: 0;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .form-next-btn:hover, .form-wrap button:hover {
	background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}
.form-wrap .step-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
}
.form-wrap .order-item {
	position: relative;
	box-sizing: border-box;
	padding: 23px 20px 15px 65px;
	width: calc(25% - 20px);
	background-color: #ffffff;
	margin-bottom: 30px;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.form-wrap .order-item::before {
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	position: absolute;
	top: -5px;
	left: 0;
	background-image: url('../i/border-img.png');
}
.form-wrap .order-item img {
	display: block;
	max-width: 40px;
	max-height: 35px;
	position: absolute;
	left: 35px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.form-wrap .order-item .title {
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 10px;
}
.form-wrap .order-item .title span {
	font-family: 'FuturaPT-Medium';
}
.form-wrap .order-item .price {
	display: block;
	font-size: 18px;
	color: #ff7e18;
}
.form-wrap .order-item .col p {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	font-size: 18px;
	color: #000000;
	width: 31px;
}
.form-wrap .order-item .col .less, .form-wrap .order-item .col .more {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: relative;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	cursor: pointer;
}
.form-wrap .order-item .col .less:hover, .form-wrap .order-item .col .more:hover {
	cursor: pointer;
}
.form-wrap .order-item .col .less::before, .form-wrap .order-item .col .more::before {
	content: '';
	display: block;
	width: 16px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 8px);
	background-color: #ffffff;
}
.form-wrap .order-item .col .more::after {
	content: '';
	display: block;
	width: 2px;
	height: 16px;
	border-radius: 100px;
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 1px);
	background-color: #ffffff;
}
.form-wrap .summa {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.form-wrap .summa span {
	color: #ffb044;
}
.form-wrap .summa span b {
	font-weight: normal;
}
.form-wrap .input-wrap {
	width: calc(33% - 20px);
}




@media screen and (max-width: 1280px){
	.b-2 .reis-list .li-text {
		padding: 30px 10px 65px;
	}
	.b-2 .reis-list .li-text .price {
		display: block;
	}
	.b-2 .reis-list .li-text .price-item {
		width: 100%;
		margin-bottom: 30px;
	}
	.b-2 .reis-list .li-text .price-item:last-child {
		margin-bottom: 0;
	}
	.form-wrap .order-item {
		width: calc(50% - 15px);
	}
	.form-wrap .step-wrap {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 767px){
	.b-2 .reis-list {
		display: block;
	}
	.b-2 .reis-list li {
		width: 100%;
	}
	.b-2 .reis-list .li-text .route img {
		margin: 0 10px;
	}
	.b-2 .reis-list .li-text .route span {
		font-size: 18px;
	}
	.b-3-list {
		display: block;
	}
	.b-3-list li {
		width: 100%;
		margin-bottom: 30px;
	}
	.b-4-list {
		display: block;
	}
	.b-4-list li {
		width: 100%;
	}
	.form-wrap .step-wrap {
		display: block;
	}
	.form-wrap .order-item {
		width: 100%;
	}
	.form-wrap .input-wrap {
		width: 100%;
	}
}