@charset "utf-8";

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('../fonts/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Light.woff2') format('woff2'),
        url('../fonts/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT-Light.ttf') format('truetype'),
        url('../fonts/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-ExtraBold';
    src: url('../fonts/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-ExtraBold.woff2') format('woff2'),
        url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype'),
        url('../fonts/FuturaPT-ExtraBold.svg#FuturaPT-ExtraBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
        url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Book';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Demi';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype'),
        url('../fonts/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
        url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Heavy';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
    font-family: 'FuturaPT-Book';
}
body.no-scroll {
	height: 100vh !important;
	box-sizing: border-box;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
button:hover {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
    top: 17px;
    left: 15px;
    cursor: pointer;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu .close-btn {
    display: block;
}
.mobile-menu {
    display: none;
    position: fixed;
    padding: 40px 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    top: -200%;
    left: 0;
    z-index: 100;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-menu.active {
    top: 0;
}

.header {
    z-index: 100;
    border-bottom: 1px solid rgb(30, 74, 65);
}
.header .container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
.header-logo {
    display: inline-block;
    position: relative;
    max-width: 50px;
}
.header-logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.header-nav {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    box-sizing: border-box;
    padding: 0 10px;
}
.header-nav li.li-drop {
    position: relative;
    box-sizing: border-box;
    padding-right: 15px;
}
.header-nav li.li-drop::before {
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    right: 0;
    background-image: url('../i/drop-icon.png');
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-nav li.li-drop:hover:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-nav li.li-drop .drop {
    display: none;
    padding-top: 29px;
    position: absolute;
    top: 100%;
    left: -21px;
    min-width: calc(100% + 42px);
}
.header-nav li.li-drop:hover .drop {
    display: block;
}
.header-nav li.li-drop .drop-wrap {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid rgb(227, 228, 227);
    border-radius: 0 0 4px 4px;
    white-space: nowrap;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.header-nav li.li-drop .drop-wrap .drop-items {
    margin-right: 15px;
    text-align: left;
}
.header-nav li.li-drop .drop-wrap .drop-items:last-child {
    margin-right: 0;
}
.header-nav li a {
    /*font-family: 'FuturaPT-Light';*/
    font-size: 16px;
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-nav li a:hover {
    color: #ff7e18;
}
.header p.info {
    display: block;
    font-size: 18px;
    color: #000000;
    line-height: 1.2;
}
.header p.info span {
    font-family: 'FuturaPT-Heavy';
    color: #ff7611;
}
.header-phone {
    display: inline-block;
    font-family: 'FuturaPT-Heavy';
    font-size: 20px;
    color: #000000;
}
.header-btn {
    display: block;
    border-radius: 4px;
    background-color: rgb(227, 228, 227);
    padding: 7px 10px;
    font-family: 'FuturaPT-Light';
    font-size: 16px;
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-btn:hover {
    background-color: rgb(207, 208, 207);
}

.button-text {
    display: inline-block;
    max-width: 100%;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-top: 13px;
    font-family: 'FuturaPT-Light';
}
.button-text a {
    color: #ffb044;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.button-text a:hover {
    color: #ff7e18;
}
.button-text .radio-btn {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    left: 0;
    top: calc(50% - 9px);
    box-sizing: border-box;
    cursor: pointer;
}
.button-text .radio-btn.error {
    border-color: #ff0000;
    background-color: #ff0000;
}
.button-text .radio-btn:hover {
    cursor: pointer;
}
.button-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 7px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 8px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 7px;
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.popup {
    display: block;
    border-radius: 4px;
    border: 1px solid rgb(227, 228, 227);
    background-color: #ffffff;
    padding: 50px 0 35px;
    font-family: 'FuturaPT-Book';
    text-align: center;
    width: 95%;
    max-width: 1110px;
    box-sizing: border-box;
}
.popup:hover {
    cursor: default;
}
.popup .name {
    display: block;
    font-family: 'FuturaPT-Heavy';
    font-size: 30px;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 10px;
}
.popup .subname {
    display: inline-block;
    padding-left: 40px;
    position: relative;
    color: #000000;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 50px;
}
.popup .subname::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
    background-image: url('../i/time-icon.png');
    background-size: cover;
}
.popup .forms {
    border-top: 1px solid rgb(227, 228, 227);
    padding-top: 40px;
    box-sizing: border-box;
}
.popup .radio-items {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 30px;
}
.popup .radio-items .radio-wrap .item {
    display: block;
    padding-left: 50px;
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    color: #000000;
    font-size: 24px;
}
.popup .radio-items .radio-wrap .item:hover {
    cursor: pointer;
}
.popup .radio-items .radio-wrap .item b {
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid rgb(227, 228, 227);
    position: absolute;
    left: 0;
    top: calc(50% - 15px);
}
.popup .radio-items .radio-wrap .item.active b {
    background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    border-color: #ff7e18;
}
.popup .radio-items .radio-wrap .item.active b::before {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    position: absolute;
    top: 14px;
    left: 5px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popup .radio-items .radio-wrap .item.active b::after {
    content: '';
    display: block;
    width: 14px;
    height: 2px;
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: #ffffff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.popup form {
    display: none;
}
.popup form.active {
    display: block;
}
.popup form .inputs {
    padding: 0 10px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(227, 228, 227);
    margin-bottom: 40px;
}
.popup form .select-wrap {
    position: relative;
    margin: 0 auto 30px;
    max-width: 350px;
    width: 100%;
}
.popup form .select-area {
    display: block;
    text-align: left;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 22px 40px 22px 20px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid rgb(227, 228, 227);
    font-size: 21px;
    color: #000000;
    font-family: 'FuturaPT-Light';
    line-height: 1.2;
    position: relative;
}
.popup form .select-area.active {
    border-radius: 4px 4px 0 0;
}
.popup form .select-area::before {
    content: '';
    display: block;
    width: 22px;
    height: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 6px);
    right: 18px;
    background-image: url('../i/sel-arr.png');
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup form .select-area.active::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.popup form .select-area span {
    display: block;
    overflow: hidden;
    width: 100%;
}
.popup form .select-area:hover {
    cursor: pointer;
}
.popup form .select-drop {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgb(227, 228, 227);
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 22px 20px;
    box-sizing: border-box;
    z-index: 10;
    font-family: 'FuturaPT-Light';
    height: 155px;
    overflow-y: auto;
}
.popup form .select-drop.active {
    display: block;
}
.popup form .select-drop a {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 21px;
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup form .select-drop a:hover {
    color: #ffb044;
}
.popup form .select-drop a:last-child {
    margin-bottom: 0;
}
.popup form .select-wrap select {
    display: none;
    visibility: hidden;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    font-size: 0;
    padding: 0;
}
.popup form input {
    display: block;
    padding: 22px 20px;
    width: 100%;
    max-width: 350px;
    text-align: left;
    font-family: 'FuturaPT-Light';
    font-size: 21px;
    box-sizing: border-box;
    color: #000000;
    border: 1px solid rgb(227, 228, 227);
    border-radius: 4px;
    margin: 0 auto 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup form input::-webkit-input-placeholder {color:#000000;}
.popup form input::-moz-placeholder          {color:#000000;}
.popup form input:-moz-placeholder           {color:#000000;}
.popup form input:-ms-input-placeholder      {color:#000000;}
.popup form input:focus::-webkit-input-placeholder {color:transparent;}
.popup form input:focus::-moz-placeholder          {color:transparent;}
.popup form input:focus:-moz-placeholder           {color:transparent;}
.popup form input:focus:-ms-input-placeholder      {color:transparent;}
.popup form input:focus {
    border-color: #ffb044;
}
.popup form .form-next-btn, .popup form button {
    display: block;
    box-sizing: border-box;
    padding: 22px 20px;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    color: #ffffff;
    font-family: 'FuturaPT-Book';
    border-radius: 4px;
    border: 0;
    font-size: 21px;
    background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup form .form-next-btn:hover, .popup form button:hover {
    background-image: -webkit-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -moz-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: linear-gradient( 180deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}
.popup form .orders {
    display: block;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}
.popup form .order-item {
    position: relative;
    box-sizing: border-box;
    padding: 22px 20px 22px 65px;
    width: calc(50% - 15px);
    background-color: #ffffff;
    margin-bottom: 30px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid rgb(227, 228, 227);
    border-radius: 4px;
}
.popup form .order-item img {
    display: block;
    max-width: 40px;
    max-height: 35px;
    position: absolute;
    left: 35px;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.popup form .order-item .title {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 10px;
}
.popup form .order-item .title span {
    font-family: 'FuturaPT-Medium';
}
.popup form .order-item .price {
    display: block;
    font-size: 18px;
    color: #ff7e18;
}
.popup form .order-item .col p {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
    font-size: 18px;
    color: #000000;
    width: 31px;
}
.popup form .order-item .col .less, .popup form .order-item .col .more {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
    background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
    cursor: pointer;
}
.popup form .order-item .col .less:hover, .popup form .order-item .col .more:hover {
    cursor: pointer;
}
.popup form .order-item .col .less::before, .popup form .order-item .col .more::before {
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);
    background-color: #ffffff;
}
.popup form .order-item .col .more::after {
    content: '';
    display: block;
    width: 2px;
    height: 16px;
    border-radius: 100px;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 1px);
    background-color: #ffffff;
}
.popup form .button-text {
    color: #000000;
}
.popup form .button-text .radio-btn {
    border-color: rgb(227, 228, 227);
}
.popup form .button-text .radio-btn.active::before, .popup form .button-text .radio-btn.active::after {
    background-color: #ffb044;
}






@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.header-wrap {
        flex-wrap: wrap;
    }
    .header-nav {
        width: 100%;
        order: 1;
        margin-top: 15px;
    }
    .header-nav li.li-drop .drop {
        padding-top: 15px;
    }
}
@media screen and (max-width: 767px){
    .container {
        padding: 0 10px;
    }
    body {
        padding-top: 57px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
    }
    .header-wrap {
        display: block;
        text-align: right;
    }
    .header-logo, .header-nav, .header p.info, .header-btn {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu .header-logo, .mobile-menu .header-btn {
        display: inline-block;
    }
    .header .mobile-menu p.info {
        display: block;
        margin-bottom: 20px;
    }
    .mobile-menu .header-nav {
        display: block;
        margin-bottom: 20px;
    }
    .mobile-menu .header-nav li {
        margin-bottom: 10px;
    }
    .mobile-menu .header-nav .submenu {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mobile-menu .header-nav .submenu-item a {
        font-size: 12px;
        color: #000000;
    }
    .mobile-btn {
        display: block;
    }
    .popup .radio-items {
        display: block;
    }
    .popup .radio-items .radio-wrap .item {
        max-width: 270px;
        text-align: left;
        margin: 0 auto 20px;
    }
    .popup form .orders {
        display: block;
    }
    .popup form .order-item {
        width: 100%;
    }
}