.b-1 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('../i/b-1-fon.jpg');
}
.b-1 .container {
	padding-top: 90px;
	padding-bottom: 60px;
}
.b-1 .breadcumps {
	display: block;
	width: calc(100% - 60px);
	text-align: left;
	position: absolute;
	left: 30px;
	top: 20px;
}
.b-1 .breadcumps li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-family: 'FuturaPT-Light';
	font-size: 16px;
	padding-right: 18px;
}
.b-1 .breadcumps li::before {
	content: '>';
	display: block;
	position: absolute;
	top: 50%;
	right: 2px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.b-1 .breadcumps li:last-child {
	padding-right: 0;
}
.b-1 .breadcumps li:last-child:before {
	display: none;
}
.b-1 .breadcumps li a {
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1 h1 {
	display: block;
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	font-family: 'FuturaPT-Heavy';
}
.b-1 h1 span {
	color: #ffb044;
}
.b-1 h2 {
	display: block;
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 60px;
}

.b-2 .container {
	padding-top: 80px;
	padding-bottom: 35px;
}
.b-2 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
}
.b-2 h2 span {
	color: #ff7e18;
}
.b-2 h3 {
	display: block;
	color: #000000;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 60px;
}
.b-2-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
}
.b-2-list {
	width: calc(50% - 30px);
}
.b-2-list li {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 60px;
}
.b-2-list .li-image {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #ffb044;
	border-radius: 50%;
	position: relative;
}
.b-2-list .li-image img {
	display: block;
	max-width: 128px;
	max-height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-2-list p {
	display: block;
	text-align: left;
	font-size: 16px;
	line-height: 1.2;
	color: #000000;
	max-width: 305px;
	width: 100%;
}
.b-2-list p span {
	font-size: 21px;
	font-family: 'FuturaPT-Medium';
}
.b-2-wrap .scheme {
	display: block;
	width: calc(50% - 30px);
}
.b-2-wrap .scheme img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.b-3 {
	background-color: #f5f5f5;
}
.b-3 .container {
	padding-top: 85px;
	padding-bottom: 20px;
}
.b-3 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
}
.b-3 h2 span {
	color: #ff7e18;
}
.b-3 h3 {
	display: block;
	color: #000000;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 60px;
}
.b-3-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-3-list li {
	width: calc(33% - 15px);
	margin-bottom: 60px;
}
.b-3-list .li-image {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #ffffff;
	border-radius: 50%;
	position: relative;
	margin: 0 auto 40px;
}
.b-3-list .li-image img {
	display: block;
	max-width: 128px;
	max-height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-list .title {
	font-size: 21px;
	font-family: 'FuturaPT-Medium';
	color: #000000;
	line-height: 1.2;
}
.b-3-list p {
	display: block;
	color: #000000;
	font-size: 16px;
	line-height: 1.2;
}

.b-4 .container {
	padding-top: 80px;
	padding-bottom: 50px;
}
.b-4 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
}
.b-4 h2 span {
	color: #ff7e18;
}
.b-4 h3 {
	display: block;
	color: #000000;
	line-height: 1.2;
	font-size: 24px;
	margin-bottom: 60px;
}
.b-4-list li {
	margin-bottom: 10px;
}
.b-4-list li .qwestion {
	box-sizing: border-box;
	display: block;
	border: 1px solid rgb(227, 228, 227);
	border-radius: 4px;
	background-color: #ffffff;
	padding: 22px 60px 22px 20px;
	font-size: 21px;
	color: #000000;
	font-size: 21px;
	text-align: left;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li .qwestion::before {
	content: '';
	display: block;
	width: 22px;
	height: 12px;
	position: absolute;
	right: 30px;
	top: calc(50% - 6px);
	background-image: url('../i/sel-arr.png');
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li .qwestion:hover {
	cursor: pointer;
}
.b-4-list li.active .qwestion {
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0;
}
.b-4-list li.active .qwestion::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-4-list li .answer {
	display: block;
	box-sizing: border-box;
	background-color: #ffffff;
	padding: 0 60px 0 20px;
	border-radius: 0 0 4px 4px;
	max-height: 0;
	height: auto;
	overflow: hidden;
	text-align: left;
	line-height: 1.5;
	color: rgb(56, 58, 58);
	font-size: 16px;
	border: 1px solid transparent;
	border-top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list li.active .answer {
	max-height: 1000px;
	padding: 30px 60px 30px 20px;
	background-color: #f5f5f5;
	border-color: rgb(227, 228, 227);
}

.b-5 .container {
	padding-top: 30px;
	padding-bottom: 60px;
}
.b-5 h2 {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #000000;
	line-height: 1.2;
	font-size: 30px;
	margin-bottom: 60px;
}
.b-5 h2 span {
	color: #ff7e18;
}
.b-5 form {
	display: block;
	width: 100%;
	border-radius: 4px;
	overflow: hidden;
}
.b-5 form .form-title {
	display: block;
	box-sizing: border-box;
	background-color: rgb(17, 49, 58);
	padding: 20px;
	color: #ffffff;
	font-size: 24px;
}
.b-5 form .inputs {
	display: block;
	box-sizing: border-box;
	border: 1px solid rgb(227, 228, 227);
	border-top: 0;
	padding: 40px 20px 30px;
}
.b-5 form input {
	display: block;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	text-align: left;
	font-family: 'FuturaPT-Light';
	font-size: 21px;
	box-sizing: border-box;
	color: #000000;
	border: 1px solid rgb(227, 228, 227);
	border-radius: 4px;
	margin: 0 auto 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form input::-webkit-input-placeholder {color:#000000;}
.b-5 form input::-moz-placeholder          {color:#000000;}
.b-5 form input:-moz-placeholder           {color:#000000;}
.b-5 form input:-ms-input-placeholder      {color:#000000;}
.b-5 form input:focus::-webkit-input-placeholder {color:transparent;}
.b-5 form input:focus::-moz-placeholder          {color:transparent;}
.b-5 form input:focus:-moz-placeholder           {color:transparent;}
.b-5 form input:focus:-ms-input-placeholder      {color:transparent;}
.b-5 form .buttons {
	display: block;
	box-sizing: border-box;
	border: 1px solid rgb(227, 228, 227);
	border-top: 0;
	padding: 40px 20px;
	border-radius: 0 0 4px 4px;
}
.b-5 form button {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	border: 0;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5 form .button-text {
	color: #000000;
}
.b-5 form .button-text .radio-btn {
	border-color: rgb(227, 228, 227);
}
.b-5 form .button-text .radio-btn.active::before, .b-5 form .button-text .radio-btn.active::after {
	background-color: #ffb044;
}

.form-wrap .name {
	font-size: 24px;
	color: #ffffff;
	font-family: 'FuturaPT-Heavy';
	line-height: 1.2;
	margin-bottom: 50px;
	display: none;
}
.form-wrap .name.active {
	display: block;
}
.form-wrap .name b {
	font-weight: normal;
	color: #ffb044;
}
.form-wrap form {
	display: block;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}
.form-wrap .step {
	display: none;
}
.form-wrap .step.active {
	display: block;
}
.form-wrap .select-wrap {
	position: relative;
	margin: 0 auto 30px;
	max-width: 350px;
	width: 100%;
}
.form-wrap .select-area {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 22px 40px 22px 20px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(227, 228, 227);
	font-size: 21px;
	color: #000000;
	font-family: 'FuturaPT-Light';
	line-height: 1.2;
	position: relative;
}
.form-wrap .select-area.active {
	border-radius: 4px 4px 0 0;
}
.form-wrap .select-area::before {
	content: '';
	display: block;
	width: 22px;
	height: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 6px);
	right: 18px;
	background-image: url('../i/sel-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.form-wrap .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.form-wrap .select-area:hover {
	cursor: pointer;
}
.form-wrap .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid rgb(227, 228, 227);
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 4px 4px;
	padding: 22px 20px;
	box-sizing: border-box;
	z-index: 10;
	font-family: 'FuturaPT-Light';
}
.form-wrap .select-drop.active {
	display: block;
}
.form-wrap .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 21px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .select-drop a:hover {
	color: #ffb044;
}
.form-wrap .select-drop a:last-child {
	margin-bottom: 0;
}
.form-wrap select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.form-wrap input {
	display: block;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	text-align: left;
	font-family: 'FuturaPT-Light';
	font-size: 21px;
	box-sizing: border-box;
	color: #000000;
	border: 1px solid rgb(227, 228, 227);
	border-radius: 4px;
	margin: 0 auto 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap input::-webkit-input-placeholder {color:#000000;}
.form-wrap input::-moz-placeholder          {color:#000000;}
.form-wrap input:-moz-placeholder           {color:#000000;}
.form-wrap input:-ms-input-placeholder      {color:#000000;}
.form-wrap input:focus::-webkit-input-placeholder {color:transparent;}
.form-wrap input:focus::-moz-placeholder          {color:transparent;}
.form-wrap input:focus:-moz-placeholder           {color:transparent;}
.form-wrap input:focus:-ms-input-placeholder      {color:transparent;}
.form-wrap .form-next-btn, .form-wrap button {
	display: block;
	box-sizing: border-box;
	padding: 22px 20px;
	width: 100%;
	max-width: 350px;
	margin: 0 auto;
	color: #ffffff;
	font-family: 'FuturaPT-Book';
	border-radius: 4px;
	border: 0;
	font-size: 21px;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.form-wrap .step-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 30px;
}
.form-wrap .order-item {
	position: relative;
	box-sizing: border-box;
	padding: 23px 20px 15px 65px;
	width: calc(25% - 20px);
	background-color: #ffffff;
	margin-bottom: 30px;
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.form-wrap .order-item::before {
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	position: absolute;
	top: -5px;
	left: 0;
	background-image: url('../i/border-img.png');
}
.form-wrap .order-item img {
	display: block;
	max-width: 40px;
	max-height: 35px;
	position: absolute;
	left: 35px;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.form-wrap .order-item .title {
	width: 100%;
	text-align: left;
	font-size: 16px;
	color: #000000;
	line-height: 1.2;
	margin-bottom: 10px;
}
.form-wrap .order-item .title span {
	font-family: 'FuturaPT-Medium';
}
.form-wrap .order-item .price {
	display: block;
	font-size: 18px;
	color: #ff7e18;
}
.form-wrap .order-item .col p {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
	font-size: 18px;
	color: #000000;
	width: 31px;
}
.form-wrap .order-item .col .less, .form-wrap .order-item .col .more {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	position: relative;
	background-image: -webkit-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
	background-image: linear-gradient( 0deg, rgb(255,125,24) 0%, rgb(255,176,68) 100%);
}
.form-wrap .order-item .col .less:hover, .form-wrap .order-item .col .more:hover {
	cursor: pointer;
}
.form-wrap .order-item .col .less::before, .form-wrap .order-item .col .more::before {
	content: '';
	display: block;
	width: 16px;
	height: 2px;
	border-radius: 100px;
	position: absolute;
	top: calc(50% - 1px);
	left: calc(50% - 8px);
	background-color: #ffffff;
}
.form-wrap .order-item .col .more::after {
	content: '';
	display: block;
	width: 2px;
	height: 16px;
	border-radius: 100px;
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 1px);
	background-color: #ffffff;
}
.form-wrap .summa {
	display: block;
	font-family: 'FuturaPT-Heavy';
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 60px;
}
.form-wrap .summa span {
	color: #ffb044;
}
.form-wrap .summa span b {
	font-weight: normal;
}
.form-wrap .input-wrap {
	width: calc(33% - 20px);
}




@media screen and (max-width: 1280px){
	.b-2-list li {
		flex-wrap: wrap;
	}
	.form-wrap .order-item {
		width: calc(50% - 15px);
	}
	.form-wrap .step-wrap {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 767px){
	.b-2-wrap {
		display: block;
	}
	.b-2-list, .b-2-wrap .scheme {
		width: 100%;
	}
	.b-2-list li {
		display: block;
	}
	.b-2-list .li-image {
		margin: 0 auto 20px;
	}
	.b-2-list p {
		margin: 0 auto;
		text-align: center;
		max-width: 100%;
	}
	.b-3-list {
		display: block;
	}
	.b-3-list li {
		width: 100%;
		margin-bottom: 30px;
	}
	.b-4-list li .qwestion {
		padding: 22px 40px 22px 20px;
	}
	.b-4-list li .qwestion::before {
		right: 9px;
	}
	.b-4-list li.active .answer {
		padding: 30px 20px;
	}
	.form-wrap .step-wrap {
		display: block;
	}
	.form-wrap .order-item {
		width: 100%;
	}
	.form-wrap .input-wrap {
		width: 100%;
	}
}